<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catHardware catData logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">App Development</span></li>
            <li><span class="filter" data-filter="catHardware">Hardware Design</span></li>
            <li><span class="filter" data-filter="catData">Data Science</span></li>
            <!-- <li><span class="filter" data-filter="logo">Logo</span></li> -->
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">


            <!-- .portfolio -->
            <div class="portfolio catHardware" data-cat="catHardware">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/breadboard.png"
                    title="The project was part of a class called Microprocessor Design. The breadboard has clock circuits, 8086 microprocessor, 2864 program chips and other sensors. The circuit can do basic ALU functions as well
                    as give temperature readings. &lt;br /&gt; &lt;br /&gt;
                    Takeaways: Follow a good color coding scheme when connecting components so that they are easier to debug. Use
                    oscilloscopes to test signal strength at every pin."
                    rel="portfolio">
                        <img src="images/portfolio/breadboard.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Microprocessor Design</a>
                                <span class="text-category">Hardware</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catHardware" data-cat="catHardware">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/uCart.png"
                    title=" Raspberry powered hardware device that hooks up to a shopping cart and allows
                    shoppers to scan items and make payments. It also has an Android tablet that acts as interface for the user.
                    The goal of the product was to make shopping experiences convenient and efficient! &lt;br /&gt; &lt;br /&gt;
                    Takeaways: A good consumer product hardware hides all the intricacies of the product and only exposes those parts that the consumer
                    is expected to interact with. Settled with this design after several prototypes and usability test sessions."
                    rel="portfolio">
                        <img src="images/portfolio/uCart.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Shopping Cart Device</a>
                                <span class="text-category">Hardware</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catData" data-cat="catData">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/strace_parser.png"
                    title="The project was part of an independent study I did with Professor Yan Chen to discover the differences
                    of Linux system calls of Remote Access Trojans and harmless applications. The project entailed building a dataset
                    from scratch, cleaning it and doing analysis after. &lt;br /&gt; &lt;br /&gt;
                    Takeaways: There isn't a strong difference between system calls triggered by malignant and non-malignant applications in Linux. Thus,
                    it wasn't possible to classify applications based on system calls itself. It was different for Windows applications, however, where we got
                    almost 90% accuracy!&lt;br /&gt; &lt;br /&gt;
                    Github Link: https://github.com/aca089/Linux-Strace-Parser- "
                    rel="portfolio">
                        <img src="images/portfolio/strace_parser.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Remote Access Trojans Linux</a>
                                <span class="text-category">Cyber Security</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/hungry_einstein.png"
                    title="Co-developed a hybrid mobile application that matched Northwestern student tutors with
                    students needing help with homework/academics in exchange of food and/or favors. Used Angular, HTML, CSS, Firebase &lt;br /&gt; &lt;br /&gt;
                    Takeaways: Experienced the value of rapid iteration, continuous improvement and the need to interact with users on a consistent basis
                    to ensure we are solving the right problem.
                    &lt;br /&gt; &lt;br /&gt;
                    Github Link: https://github.com/aca089/EECS-394-First-App"
                    rel="portfolio">
                        <img src="images/portfolio/hungry_einstein.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Tutor Matching Android App</a>
                                <span class="text-category">Software</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


                        <!-- .portfolio -->
                        <div class="portfolio catData" data-cat="catData">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/instacart.png"
                                title="I analyzed Instacart's dataset that included information on the items people ordered, the time of order and various other
                                variables. I used Pandas, Seaborn and matplotlib (Python libraries) for my analysis. It consists of two files - one
                                is statistical inference/ hypothesis tests and the other is some exploratory data analysis. &lt;br /&gt; &lt;br /&gt;
                                Takeaways: Effect size is the most important! No need to do hypothesis tests if the effect size is big and if the confidence intervals don't even overlap.
                                Bootstrap and Permutation tests are useful as well. &lt;br /&gt; &lt;br /&gt;
                                Github Link: https://github.com/aca089/Instacart-Data"
                                rel="portfolio">
                                    <img src="images/portfolio/instacart.png" alt="Visual Infography" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Instacart Dataset Analysis</a>
                                            <span class="text-category">Data Exploration</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->


                        <!-- .portfolio -->
                        <div class="portfolio catData" data-cat="catData">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/retention.png"
                                title="I analyzed Harvard and MIT edX data to understand if I can build a model for student retention based on
                                median age, hours for certification, length of videos, etc. The project was also a learning experience for me using Lasso and Ridge regression and
                                understanding when it's appropriate to regularize. &lt;br /&gt; &lt;br /&gt;
                                Takeaways: To improve retention, have mini-certifications in place since long hours for certification discouraged people from finishing the course (this of course is different for different age groups).
                                Break the course into different sub-courses and have mini-certifications for each that an individual can directly share it on LinkedIn/Indeed etc. &lt;br /&gt; &lt;br /&gt;
                                Github Link: https://github.com/aca089/Edtech-Data/blob/master/Retention_model.ipynb"
                                rel="portfolio">
                                    <img src="images/portfolio/retention.png" alt="Visual Infography" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">edX Dataset Analysis</a>
                                            <span class="text-category">Linear Regression</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->


                        <!-- .portfolio -->
                        <div class="portfolio catData" data-cat="catData">
                            <!-- .portfolio-wrapper -->
                            <div class="portfolio-wrapper">
                                <a href="images/portfolio/small_projects.png"
                                title="When I was enrolled in Sprinboard's Data Science Intensive bootcamp, I did various projects in data wrangling,
                                machine learning and exploratory data analysis. The Github link below has links to all of the projects.&lt;br /&gt; &lt;br /&gt;
                                Takeaways: Whenever you read about a new machine learning model or some new concept, it always helps to get a dataset online to
                                check how the model performs and to understand the intricacies of implementing the model like overfitting, underfitting, etc. &lt;br /&gt; &lt;br /&gt;
                                Github Link: https://github.com/aca089/Data-Science"
                                rel="portfolio">
                                    <img src="images/portfolio/small_projects.png" alt="Visual Infography" />
                                    <div class="label">
                                        <div class="label-text">
                                            <a class="text-title">Various Small Projects</a>
                                            <span class="text-category">Springboard Bootcamp</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </a>
                            </div>
                            <!-- /.portfolio-wrapper -->
                        </div>
                        <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catHardware" data-cat="catHardware">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/alu.png"
                    title="Designed a 32-bit ALU in VHDL capable of doing addition, subtraction, division and multiplication. The ALU was built using gates only &lt;br /&gt; &lt;br /&gt;
                    Takeaways: Always draw a hardware schematic before implementing it in software. Develop logic equations to minimize number of gates being used and always make your code modular so that you can re-use components. &lt;br /&gt; &lt;br /&gt;
                    Github Link: https://github.com/aca089/ALU-in-VHDL"
                    rel="portfolio">
                        <img src="images/portfolio/alu.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">32-Bit ALU</a>
                                <span class="text-category">Hardware</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/square1.png"
                    title="Co-developed a Web Application for a client to manage operations for post-crowdfunding startups. Included several features
                    to help with supply chain management such as inventory tracking, order backlogs, etc. Used jQuery, HTML, CSS, Firebase &lt;br /&gt; &lt;br /&gt;
                    Takeaways: When working in an agile environment, prioritize user stories that add add the most value. For instance, things like login didn't
                    add as much much value for our client as opposed to having a dashboard with findings.
                    &lt;br /&gt; &lt;br /&gt;
                    Github Link: https://github.com/aca089/EECS-394-Client-Project"
                    rel="portfolio">
                        <img src="images/portfolio/square1.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Operations Management Web App</a>
                                <span class="text-category">Software</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catHardware" data-cat="catHardware">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/nustars.png"
                    title="Represented Northwestern University in NASA's annual USLI competition and came 2nd place! &lt;br /&gt; &lt;br /&gt;
                    Takeaways: The actual performance of a rocket differs quite a lot from software simulation performance due
                    to temperature, humidity and wind conditions. There is also a risk that a sensor might not function properly when the rocket is launched. Thus, always account for the unexpected variables in your simulation model."
                    rel="portfolio">
                        <img src="images/portfolio/nustars.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">NASA Rocket Competition</a>
                                <span class="text-category">Hardware</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->




            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
