<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catHardware catData logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">App Development</span></li>
            <li><span class="filter" data-filter="catHardware">Hardware Design</span></li>
            <li><span class="filter" data-filter="catData">Data Science</span></li>
            <!-- <li><span class="filter" data-filter="logo">Logo</span></li> -->
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/1.jpg" rel="portfolio" title="Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus.consectetur adipiscingVivamus sit amet">
                        <img src="images/portfolio/1.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catHardware" data-cat="catHardware">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/breadboard.png"
                    title="The project was part of a class called Microprocessor Design. The breadboard has clock circuits, 8086 microprocessor, 2864 program chips and other sensors. The circuit can do basic ALU functions as well
                    as give temperature readings. &lt;br /&gt; &lt;br /&gt;
                    Takeaways: Follow a good color coding scheme when connecting components so that they are easier to debug. Use
                    oscilloscopes to test signal strength at every pin."
                    rel="portfolio">
                        <img src="images/portfolio/breadboard.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Microprocessor Design</a>
                                <span class="text-category">Hardware</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catHardware" data-cat="catHardware">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/uCart.png"
                    title=" Raspberry powered hardware device that hooks up to a shopping cart and allows
                    shoppers to scan items and make payments. It also has an Android tablet that acts as interface for the user.
                    The goal of the product was to make shopping experiences convenient and efficient! &lt;br /&gt; &lt;br /&gt;
                    Takeaways: A good consumer product hardware hides all the intricacies of the product and only exposes those parts that the consumer
                    is expected to interact with. Settled with this design after several prototypes and usability test sessions."
                    rel="portfolio">
                        <img src="images/portfolio/uCart.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Shopping Cart Device</a>
                                <span class="text-category">Hardware</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catData" data-cat="catData">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/4.jpg" rel="portfolio">
                        <img src="images/portfolio/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/hungry_einstein.png"
                    title="Co-developed a hybrid mobile application that matched Northwestern student tutors with
                    students needing help with homework/academics in exchange of food and/or favors. Used Angular, HTML, CSS, Firebase &lt;br /&gt; &lt;br /&gt;
                    Takeaways: Experienced the value of rapid iteration, continuous improvement and the need to interact with users on a consistent basis
                    to ensure we are solving the right problem.
                    &lt;br /&gt; &lt;br /&gt;
                    Github Link: https://github.com/aca089/EECS-394-First-App"
                    rel="portfolio">
                        <img src="images/portfolio/hungry_einstein.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Tutor Matching Android App</a>
                                <span class="text-category">Software</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catData" data-cat="catData">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/6.jpg" rel="portfolio">
                        <img src="images/portfolio/6.jpg" alt="BMF" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catHardware" data-cat="catHardware">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/alu.png"
                    title="Designed a 32-bit ALU in VHDL capable of doing addition, subtraction, division and multiplication. The ALU was built using gates only &lt;br /&gt; &lt;br /&gt;
                    Takeaways: Always draw a hardware schematic before implementing it in software. Develop logic equations to minimize number of gates being used. &lt;br /&gt; &lt;br /&gt;
                    Github Link: https://github.com/aca089/ALU-in-VHDL"
                    rel="portfolio">
                        <img src="images/portfolio/alu.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">32-Bit ALU</a>
                                <span class="text-category">Hardware</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/8.jpg" rel="portfolio" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien.">
                        <img src="images/portfolio/8.jpg" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/9.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="portfolio">
                        <img src="images/portfolio/9.jpg" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catHardware" data-cat="catHardware">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/nustars.png"
                    title="Represented Northwestern University in NASA's annual USLI competition and came 2nd place! &lt;br /&gt; &lt;br /&gt;
                    Takeaways: The actual performance of a rocket differs quite a lot from software simulation performance due
                    to temperature, humidity and wind conditions. There is also a risk that a sensor might not function properly. Thus, always account for the unexpected variables in your simulation model."
                    rel="portfolio">
                        <img src="images/portfolio/nustars.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">NASA Rocket Competition</a>
                                <span class="text-category">Hardware</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/11.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="portfolio">
                        <img src="images/portfolio/11.jpg" alt="Mobi Sock" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/12.jpg" rel="portfolio">
                        <img src="images/portfolio/12.jpg" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
