<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">atul adhikari</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Atul Chandra Adhikari</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">February 27, 1993</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Address</label>
                <span class="value">Chicago , IL</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">atuladhikari.1993@gmail.com</span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <!-- <i class="fa fa-quote-left"></i> -->
            I was born in Nepal and was raised in Cambodia for the first 6 years of my life before my family moved back to Nepal where I finished my middle school and high school. I came to America in 2011 to pursue my academic studies and have been here ever since.
            <!-- <i class="fa fa-quote-right"></i> -->
            <br><br>
            <!-- <i class="fa fa-quote-left"></i> -->
            A have an academic background in Computer Science and Business Strategy. I'm passionate about developing products, gleaning scientific insights from data and developing business strategy around it.
            <!-- <i class="fa fa-quote-right"></i> -->

        </p>

         <!-- <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis.

        </p> -->

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div>
            <img src="images/img-profile/about_2.png" alt="" style"height:400px; width:250px; padding-left:50px" />
        </div>

    </div>

</div>


<div class="clear"></div>
</div>
<!-- End .profile -->
